body {
  font-family: "Barlow", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}
.layout_padding {
  padding-top: 15px;
  padding-bottom: 15px;
}
.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}
.layout_padding2-top {
  padding-top: 15px;
}
.layout_padding2-bottom {
  padding-bottom: 45px;
}
.layout_padding-top {
  padding-top: 15px;
}
.layout_padding-bottom {
  padding-bottom: 15px;
}
.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.heading_container h2::before {
  content: "";
  width: 40px;
  height: 7px;
  background-color: #f1db25;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.heading_container.heading_center h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* header section */
.hero_area {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero_bg_box .img-box {
  width: 100vw;
}
.hero_bg_box .img-box img {
  object-fit: cover;
  width: 100%;
  min-height: 100vh;
}
.hero_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.8)),
    to(rgba(0, 0, 0, 0.35))
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.35)
  );
}
.sub_page .hero_area {
  min-height: auto;
}
.sub_page
  .custom_nav-container.navbar-expand-lg
  .navbar-nav
  .nav-item
  .nav-link {
  padding-bottom: 21px;
}
.hero_area.sub_pages {
  height: auto;
}
.header_section {
  padding: 0;
}
.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}
.header_section .nav_container {
  margin: 0 auto;
}
.header_top {
  background-color: #1c1c1c;
  padding: 15px 0;
}
.header_top .contact_link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header_top .contact_link-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
}
.header_top .contact_link-container a i {
  font-size: 20px;
  color: #f1db25;
  margin-right: 5px;
}
#navbarSupportedContent {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.custom_nav-container {
  z-index: 99999;
  padding: 0;
}
.custom_nav-container .navbar-nav {
  margin-left: auto;
}
.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 0;
  padding: 35px 15px 10px 15px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  background-color: #1c1c1c;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
a:hover,
a:focus {
  color: initial;
}
.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-brand span {
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
}
.custom_nav-container .navbar-toggler {
  outline: none;
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}
.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

/* slider section */
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 20px;
}
.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: max-content;
}
.slider_section .detail-box {
  width: 100%;
  margin: auto;
}
.slider_section .detail-box .logo {
  padding: 10px;
  margin: auto;
}
.slider_section .detail-box h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
}
.slider_section .detail-box h1 span {
  color: #f1db25;
}
.slider_section .detail-box p {
  margin-top: 25px;
}
.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline;
  margin-top: 30px;
  width: 100%;
}
.slider_section .detail-box .btn-box a {
  width: 180px;
  text-align: center;
  margin: 5px;
}
.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 35px;
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}
.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.slider_section .detail-box .btn-box .btn-crud {
  display: flex;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.slider_section .detail-box .btn-box .btn-crud h2 {
  padding: 10px;
}
.slider_section .detail-box .btn-box .btn-crud a {
  margin: auto;
  font-size: 20px;
}
.slider_section .detail-box h2 span {
  color: #f1db25;
  text-transform: uppercase;
}
.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 35px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}
.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}
.slider_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  width: 100vw;
}
.slider_section .img-box img {
  object-fit: cover;
  width: 120%;
  min-height: 100%;
}
.slider_section .idicator_container {
  position: relative;
}
.slider_section ol.carousel-indicators {
  margin: 10px;
  bottom: -75px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.slider_section ol.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  background-color: #f1db25;
  opacity: 1;
  border: none;
  margin: 0 4px;
}
.slider_section ol.carousel-indicators li.active {
  background-color: #ffffff;
}
.about_section .img_container .img-box img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}
.about_section .detail-box {
  background-color: #ffffff;
  padding: 45px 25px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  margin-left: -45px;
}
.about_section .detail-box p {
  margin-top: 5px;
}
.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
}
.about_section .detail-box a:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}

/* employed read */
table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}
table th,
table td {
  padding: 0.625em;
  text-align: center;
}
table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.password {
  max-width: 200px; /* définissez la largeur maximale de la cellule */
  max-height: 100px; /* définissez la hauteur maximale de la cellule */
  overflow: auto; /* ajoute des barres de défilement si le contenu dépasse les dimensions maximales */
  white-space: nowrap;
}
@media screen and (max-width: 900px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    text-align: left;
  }
  table td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
  .sliderContent {
    display: inline-block;
  }
}

/* employed delete */
.deleteContent {
  width: max-content;
  margin: auto;
  text-align: center;
  border: solid 1px red;
  padding: 10px;
}
.warningMessage {
  padding-bottom: 10px;
  color: red;
}

/* slider */
.range_container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px auto;
}
.sliders_control {
  position: relative;
  min-height: 10px;
}
.form_control {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #f7f7f7;
}
#fromInput.form_control_container__time__input,
#toInput.form_control_container__time__input {
  text-align: center;
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Safari et Chrome */
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  font-size: 16px;
}

/* slider price */
#fromPriceInput.price_form_control_container__time__input,
#toPriceInput.price_form_control_container__time__input {
  width: 100px;
  text-align: center;
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Safari et Chrome */
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  font-size: 16px;
}
#sliderPrice {
  width: 50%;
  margin: auto;
  min-width: 300px;
}
.price_range_container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px auto;
}
.price_sliders_control {
  position: relative;
  min-height: 10px;
}
.price_form_control {
  text-align: center;
  position: relative;
  display: flex;
  margin: auto;
  justify-content: space-between;
  font-size: 16px;
  color: #f7f7f7;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #c6c6c6;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}
input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #c6c6c6;
  pointer-events: none;
}
#fromSlider {
  height: 0;
  z-index: 1;
}

/* slider kilometre */
.TitreFilter {
  margin: auto;
  margin-top: 20px;
  width: 40%;
  text-align: center;
  text-transform: uppercase;
  color: #f7f7f7;
  border-bottom: solid 1px #f1db25;
  margin-bottom: 20px;
}
.sliderContent {
  display: flex;
}
#slider {
  width: 50%;
}
#slider h6 {
  margin: auto;
  width: 40%;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #f7f7f7;
  border-bottom: solid 1px #f1db25;
}
#sliderPrice {
  width: 50%;
}
#sliderPrice h6 {
  margin: auto;
  width: 40%;
  text-align: center;
  text-transform: uppercase;
  color: #f7f7f7;
  border-bottom: solid 1px #f1db25;
}
.filterList {
  text-align: center;
}

/* filter energie */
.filtersContent {
  display: flex;
}
.filterListEnergie {
  width: 50%;
  text-align: center;
}
.filterListBoite {
  width: 50%;
  text-align: center;
}
.filterListEnergie h6 {
  margin: auto;
  margin-bottom: 10px;
  width: 40%;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #f7f7f7;
  border-bottom: solid 1px #f1db25;
}
.filterListBoite h6 {
  margin: auto;
  margin-bottom: 10px;
  width: 40%;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #f7f7f7;
  border-bottom: solid 1px #f1db25;
}

/* occasions section */
#cars-container.container {
  margin-top: 40px;
}
.occasions_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 5px;
}
.occasions_section .detail-box {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  position: relative;
}
.occasions_section .detail-box p {
  margin-top: 5px;
}
.occasions_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
}
.occasions_section .detail-box a:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}

/* prestations section */
.prestations_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.prestations_section .img_container .img-box img {
  max-width: 100%;
  max-height: 350px;
  object-fit: cover;
}
.prestations_section .detail-box {
  border-left: solid #f1db25;
  background-color: #ffffff;
  padding: 45px 25px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  margin-left: -45px;
}
.prestations_section .detail-box p {
  margin-top: 5px;
}
.prestations_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
}
.prestations_section .detail-box a:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}

/* service section */
.service_section {
  background-color: #1c1c1c;
}
.service_section .heading_container {
  color: #ffffff;
}
.service_section .box {
  background-color: #ffffff;
  padding: 25px 15px;
  text-align: center;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin-top: 45px;
}
.service_section .box .img-box svg {
  width: 75px;
  height: auto;
  fill: #1c1c1c;
}
.service_section .box .detail-box {
  margin-top: 25px;
}
.service_section .box .detail-box h6 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.service_section .box .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  margin-top: 10px;
}
.service_section .box .detail-box a:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}
.client_section {
  text-align: center;
  color: #ffffff;
}
.client_section #carouselExampleControls {
  padding: 0 10%;
}
.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 45px;
}
.client_section .box .img-box {
  width: 145px;
}
.client_section .box .img-box img {
  width: 100%;
}
.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}
.client_section .box .detail-box h4 {
  font-weight: bold;
  font-size: 18px;
  padding: 0 10px;
  border-bottom: 1px solid #ffffff;
}
.client_section .box .detail-box p {
  margin-top: 10px;
}
.client_section .carousel_btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-color: #1c1c1c;
  color: #ffffff;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
}
.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #f1db25;
}
.client_section .carousel-control-prev {
  left: 0;
}
.client_section .carousel-control-next {
  left: initial;
  right: 0;
}

/* service delete */
.deleteContent {
  width: max-content;
  margin: auto;
  text-align: center;
  border: solid 1px red;
  padding: 10px;
}
.warningMessage {
  padding-bottom: 30px;
  color: red;
}

/* notices validate */
.validateContent {
  width: max-content;
  margin: auto;
  text-align: center;
  border: solid 1px green;
  padding: 10px;
}
.validateMessage {
  padding-bottom: 30px;
  color: green;
}

/* contact section */
.contact_section.layout_padding {
}
.contact_section {
  position: relative;
  color: #ffffff;
}
.contact_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact_section .contact_form-container {
  margin-top: 35px;
}
.contact_section .contact_form-container input {
  border: none;
  outline: none;
  color: #000000;
  height: 45px;
  width: 100%;
  margin: 15px 0;
  padding-left: 15px;
  background-color: #ffffff;
}
.contact_section .contact_form-container input::-webkit-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}
.contact_section .contact_form-container input:-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}
.contact_section .contact_form-container input::-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}
.contact_section .contact_form-container input::placeholder {
  color: #000000;
  text-transform: uppercase;
}
.contact_section .contact_form-container input.message_input {
  height: 120px;
}
.contact_section .contact_form-container .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}
.contact_section .contact_form-container button {
  display: inline-block;
  padding: 10px 60px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: bold;
}
.contact_section .contact_form-container button:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}
.contact_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact_bg_box .img-box {
  width: 100%;
}
.contact_bg_box .img-box img {
  object-fit: cover;
  width: 120%;
  min-height: 100%;
}
.contact_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.7)),
    to(rgba(0, 0, 0, 0.35))
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.35)
  );
}

/* team section */
.team_section.layout_padding {
  margin-bottom: 50px;
}
.team_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  margin-top: 45px;
  position: relative;
}
.team .heading_container.heading_center {
  color: #ffffff;
}
.team_section .box .img-box {
  width: 100%;
}
.team_section .box .img-box img {
  width: 100%;
}
.team_section .box .detail-box {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 25px 15px;
  text-align: center;
  bottom: 0;
  background-color: rgba(28, 28, 28, 0.75);
}
.team_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}
.team_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
}
.team_section .btn-box a:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}

/* client section */
.client_section.layout_padding {
  margin-bottom: 50px;
  background-color: rgba(241, 219, 37, 0.5);
}

/* notices section */
.notices_section.layout_padding {
  background-color: rgba(241, 219, 37, 0.3);
}
.notices_section {
  position: relative;
  color: #ffffff;
}
.notices_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.notices_section .notices_form-container {
  margin-top: 35px;
}
.notices_section .notices_form-container input {
  border: none;
  outline: none;
  color: #000000;
  height: 45px;
  width: 100%;
  margin: 15px 0;
  padding-left: 15px;
  background-color: #ffffff;
}
.notices_section .notices_form-container input::-webkit-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}
.notices_section .notices_form-container input:-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}
.notices_section .notices_form-container input::-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}
.notices_section .notices_form-container input::placeholder {
  color: #000000;
  text-transform: uppercase;
}
.notices_section .notices_form-container input.message_input {
  height: 120px;
}
.notices_section .notices_form-container .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
}
.notices_section .notices_form-container button {
  display: inline-block;
  padding: 10px 60px;
  background-color: #f1db25;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: bold;
}
.notices_section .notices_form-container button:hover {
  background-color: transparent;
  border-color: #f1db25;
  color: #f1db25;
}
.notices_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.notices_bg_box .img-box {
  width: 100%;
}
.notices_bg_box .img-box img {
  object-fit: cover;
  width: 150%;
  min-height: 100%;
}
.notices_bg_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.7)),
    to(rgba(0, 0, 0, 0.35))
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.35)
  );
}

.notices_section .form-control-select-note{
    height: max-content;
    text-align: center;
    display: flex;
}

.notices_section .form-control-select-note select{
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    width: 50px;
    padding: 5px;
}
/* Style pour le label */
.notices_section label {
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 50px;
    font-size: 32px;
}

/* Style pour le paragraphe */
.notices_section .form-control-select-note p.note-max {
    min-width: 50px;
    font-size: 32px;
    color: #f1db25;
    padding-left: 20px;
}
.notices_section .form-group p {
    text-align: center;
    text-decoration: underline; /* Souligné */
    font-size: 18px;

}
/* Style pour le sélecteur de notes */
.notices_section .form-group select[name="rating"] {
    width: 50px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    transition: border-color 0.3s ease;
    flex: 1; /* Le sélecteur de notes occupe tout l'espace disponible */
}

.notices_section .form-group select[name="rating"]:hover {
    border-color: #aaa;
}

.notices_section .form-group select[name="rating"]:focus {
    outline: none;
    border-color: #f1db25;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.notices_section .form-group select[name="rating"] option {
    background-color: #fff;
    color: #555;
}

.notices_section .form-group select[name="rating"] option:hover {
    background-color: #f0f0f0;
}




/* footer section*/
.footer_section {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  background-color: #1c1c1c;
  color: rgba(254, 254, 255, 0.7);
}
.opening-time {
  margin: auto;
  text-align: center;
}
.opening-time table {
  text-align: center;
  margin: auto;
  padding: 5px;
}
.opening-time table tr td {
  background-color: #1c1c1c;
  color: rgba(254, 254, 255, 0.7);
  padding: 3px;
}
.opening-time table tr th {
  background-color: #1c1c1c;
  color: rgba(254, 254, 255, 0.7);
  padding: 3px;
}
.footer_section p {
  padding-top: 20px;
  color: rgba(254, 254, 255, 0.7);
  margin: 0;
  margin-bottom: 0;
  text-align: center;
}
